services:
  # Nginx сервер
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "9090:9090"
    restart: unless-stopped
    volumes:
      - nginx_data:/app/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:9090/homework.json"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Telegram Bot
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: telegram_bot
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - BOT_TOKEN=${BOT_TOKEN}
      - FORUM_CHAT_ID=${FORUM_CHAT_ID}
      - TIMEZONE=Asia/Tashkent
    volumes:
      - ./bot:/app
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      - nginx
    # Добавим задержку перед стартом
    command: sh -c "sleep 5 && node bot.js"

volumes:
  nginx_data:
    driver: local

networks:
  app-network:
    driver: bridge
